html{
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(#ff5e6c, #ffaaab, #feb300);
    
}

.banner {
    color: white;
    font-family: Baskerville ;
    font-size: 300%;
    font: 100;
    text-align: center;
background-image: url("https://t4.ftcdn.net/jpg/02/38/07/93/360_F_238079311_sTj9nRhbcLlhLF5emWJbglxmTAD8nWVW.jpg") ;


padding: 100px;



}


a.logo {
    
    margin: 50px;
    padding: 5px;
    display: inline-flex;
    

}

.top-menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
  }
  .top-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  .logo {display: inline-block;}
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    
  }
  .menu li {display: inline-block; }
  .menu a {
    text-decoration: none;
    display: block;
    position: relative;
    top:55px;
    line-height: 61px;
    padding-left: 20px;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: Baskerville;
    font-weight: bold;
    color: #F73E24;
    transition:.7s linear;
    
  }
  .menu a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #ff5e6c;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
    
  }
  .menu a:hover:before {opacity: 1;}
  @media (max-width: 660px) {
  .menu {
    float: none;
    padding-top: 20px;
  }
  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }
  .menu a {padding: 0 10px;}
  .menu a:before {transform: rotate(45deg) translateX(-6px);}
  }
  @media (max-width: 600px) {
  .menu li {display: block;}
  }


a:link { 
    color: black;
    
 }         
 a:visited {
     color: rgb(14, 11, 14);
     }    


 
a:active { 
    color: red; 
}  
#main-heading {
    color: black;
}
.topic {
    font-family: Baskerville;  
}
#task h2{
    color: black;
    border: 2px solid #ff5e6c;
   text-align: center;
    border-radius: 8px;
    font-size: 24px;
}
#task img{
    display: none;
}
p { 
color: black;
font-family: Baskerville; 
}
#requirements h2{
    color: black;
    font-family: Baskerville;
    border: 2px solid #ff5e6c;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
}
ul {
    color: black;
font-family: Baskerville;
}

article {
    color:black;
font-family: Baskerville;
}

#submission h2{
    color: black;
    font-family: Baskerville;
    border: 2px solid #ff5e6c;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
}
img {
    border-radius: 8px;
    display: inline-block;
    width:  "300px" ;
    height: "210px";
   
  }
  #grading h2{
    color: black;
    font-family: Baskerville;
    border: 2px solid #ff5e6c;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
}
#deadline h4{
    color: black;
    font-family: Baskerville;
    border: 2px solid #ff5e6c;
    text-align: center;
    border-radius: 8px;
    font-size: 24px ;
}


a[href="mailto:info@naturallyinspired.com"] {  
    color:black;
font-family: Baskerville;
}

.contacts a:active {
    
    color:rgba(234, 18, 18, 0.831);
}

.contacts h5{
    font-size: 22px;
    font-family: Baskerville;
    border: 2px solid #ff5e6c;
    text-align: center;
    border-radius: 8px;
}


.map {
    border: 2px solid #ff5e6c;
    margin: 50px;
    border-radius: 8px;
    display: inline-block;
padding: 5px 15px; 
position: relative;
right: auto;
}
.categories h5{
    color: black;
    font-family: Baskerville;
    font-size: 22px;
}

a[href="#"] {
color:black;
}
.quick_links h5{
    color: black;
    font-family: Baskerville;
    font-size: 22px;
}

.quick_links li{
    font-size:14px;
display:inline-block;
width: 16%;
margin:0;
padding:0;
}

